# _auth=ZHlsYW5nOkR1ZGUyMiEh
# _authCrypt=818d7c79d94cdb2f476b2cbda06004d8c17fca8d3ed1f3d42b1b258878aa9182
registry=https://registry.npmjs.org
email=dylang@gmail.com
loglevel=warn
//registry.npmjs.org/:_authToken=63f06af9-b761-4a1c-a531-65c580bd9dfd
